* , *::before,*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    color: aliceblue;
    font-family: 'Vazirmatn', sans-serif;
}
/* header */
header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

header div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
p {
    
    border-radius: 15px;
    font-size: 18px;
    
    padding: 0;
    margin: 0;
}
header div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 45px;
}
a {
    padding: 15px;
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
}
.button {
    border: 2px solid white;
    border-radius: 8px;
}
.half-size {
    width: 45%;
}
.main-img-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 650px;
}
.img-cnt {
    border: 1px solid white;
  border-radius: 15px;
  height: 30.333333%;
  overflow: hidden;
}
#cnt-s {
    height: 650px
}

@media screen and (max-width: 331px) {
   section {
       display: flex;
       flex-direction: column;
       height: 190px;
   }
   section div {
       width: 100%;
       text-align: center;
   }
   main {
       display: flex;
       flex-direction: column;
   }
   #cnt-s {
       height: 450px;
       width: 85%;
       margin-bottom: 25px;
   }
   #cnt-s2 {
    width: 85%;
   }
   #cnt-s2 div {
       height: 1150px;
   }
   .img-cnt {
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

}